@import 'fonts';

footer{
    position: absolute;
    
	text-align: center;
	background-color: black;
	color:white;
	bottom: 0;
    width: 100%;
    height: 170px;
	
}
footer p {
    padding-top: 20px;
    @include fontS(20px);
}
footer a {
    text-decoration: underline;
    color: white;
    padding: 20px 25px;
    
}

.footer-links {
    margin-top: 20px;

}
// footer p {
// 	padding-top: 10px;
// }