// .winner {
//     width: 390px;
//     margin: 0 auto;
// }

#winner_container{
    margin-top: 20px;
    padding-bottom: 0;
 
    width: 1000px;
}

.winner_card{
    padding-top: 0;
    padding-bottom: 0;
}

#playagain-button{
    margin-top: 50px;
    margin-bottom: 50px;
}

.play-again{
    padding-bottom: 200px;
}