@import url(https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative&display=swap>);
@import url(https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative&display=swap>);
@import url(https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative&display=swap>);
html {
  font-size: 16px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
}

body {
  font-family: "Cinzel", serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-size: 1.25rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 200;
}

h3 {
  font-size: 0.875rem;
}

h4 {
  font-weight: 200;
}

h5 {
  font-size: 1.875rem;
  font-family: "Cinzel", serif;
}

p {
  line-height: 1.6;
}

.button {
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

nav {
  text-align: center;
}

.card {
  display: grid;
  border-radius: 18px;
  grid-template-columns: 300px;
  grid-template-rows: 45px 300px 55px 140px 70px;
  grid-template-areas: "name" "image" "faction" "text" "stats";
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.card__img {
  grid-area: image;
  /* background: url("images/img2.jpg"); */
  width: 300px;
  background-size: cover;
}
.card__name {
  grid-area: name;
  padding-bottom: 6px;
  margin-bottom: 0;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  color: white;
  padding: 10px;
  text-align: center;
}
.card__faction {
  grid-area: faction;
  color: white;
  padding: 10px;
  border: 8px solid white;
  text-align: center;
}
.card__stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  padding-bottom: 3px;
  color: white;
  align-items: end;
}
.card__text {
  padding: 10px;
  background-color: white;
}
.card__stats-gender {
  padding: 10px;
  border-right: 1px solid white;
  vertical-align: text-bottom;
}
.card__stats-text {
  padding: 10px;
  border-right: 1px solid white;
  vertical-align: text-bottom;
}
.card__stats-symbol {
  text-align: center;
  color: white;
  padding: 10px;
  vertical-align: text-bottom;
}
.card__stats-img {
  height: 32px;
}

.card:active {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

html {
  font-size: 16px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
}

body {
  font-family: "Cinzel", serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-size: 1.25rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 200;
}

h3 {
  font-size: 0.875rem;
}

h4 {
  font-weight: 200;
}

h5 {
  font-size: 1.875rem;
  font-family: "Cinzel", serif;
}

p {
  line-height: 1.6;
}

.button {
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

footer {
  margin-top: 80px;
  text-align: center;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

footer p {
  padding: 20px;
  font-size: 1.25rem;
}

footer a {
  text-decoration: underline;
  color: white;
  padding: 20px;
}

body {
  align-items: center;
  justify-content: center;
  background: url("/images/background/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}

header {
  margin: 20px;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #085D34;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.flex-container {
  margin: 50px 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.hover:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.fas {
  margin: 2px;
  font-size: 20px;
}

.value {
  margin: 2px;
  font-size: 18px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.player {
  display: inline-block;
  padding-right: 60px;
  padding-left: 60px;
  vertical-align: top;
  color: white;
  text-align: center;
}

.player__img,
.player2__img {
  position: relative;
}

.layered-image img {
  width: 200px;
}

.player__img-src,
.player2__img-src {
  width: 200px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.player__card-stats,
.player2__card-stats {
  position: absolute;
  width: 100px;
  top: 50px;
  left: 70px;
}

html {
  font-size: 16px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
}

body {
  font-family: "Cinzel", serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-size: 1.25rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 200;
}

h3 {
  font-size: 0.875rem;
}

h4 {
  font-weight: 200;
}

h5 {
  font-size: 1.875rem;
  font-family: "Cinzel", serif;
}

p {
  line-height: 1.6;
}

.button {
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

.boardgame {
  display: grid;
  border-radius: 18px;
  grid-template-rows: 808px;
  grid-template-columns: 300px 964px 300px;
  margin: 0 auto;
}

.boardgame-image {
  background: url("../images/boardgame/game.png");
  background-repeat: no-repeat;
  position: relative;
}
.boardgame-image__symbol {
  position: absolute;
  height: 50px;
  left: 132px;
  top: 125px;
}

.player1-game {
  display: grid;
  border-radius: 18px;
  grid-template-rows: 80px 250px 80px 150px;
  margin-top: 160px;
  margin-bottom: 95px;
  background-color: #242329;
  border: 4px solid white;
}
.player1-game__name {
  color: white;
  text-align: center;
  padding: 20px;
}
.player1-game__name h5 {
  margin: 0;
}
.player1-game__img {
  text-align: center;
  padding-top: 20px;
}
.player1-game__dize {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.player2-game {
  display: grid;
  border-radius: 18px;
  grid-template-rows: 80px 250px 80px 150px;
  margin-top: 160px;
  margin-bottom: 95px;
  background-color: #242329;
  border: 4px solid white;
}
.player2-game__name {
  color: white;
  text-align: center;
  padding: 20px;
}
.player2-game__name h5 {
  margin: 0;
}
.player2-game__img {
  text-align: center;
  padding-top: 20px;
}
.player2-game__dize {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#dice, #dice2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-weight: 100;
}

/*# sourceMappingURL=styles.css.map */
